<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="alert alert-danger" role="alert">
      <h3>  <%= message  %></h3>
    </div>
    
    <!-- <div class="alert alert-warning" role="alert">
      
     <h5>   <%# err.stack  %></h5>
    </div> -->
    
</body>



