<% layout("/layouts/boilerplate.ejs") %>
<body>
    
    <div class="row mt-2">
        <div class="col-8 offset-2">
    <form action="/listing" method="POST"  novalidate class=" needs-validation" enctype="multipart/form-data">

        <h3>Create a New Listing</h3>
            <div class="mb-4">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" id="title" placeholder="enter title" class="form-control"  required />
                <div class="valid-feedback">please enter good title</div>
                <div class="invalid-feedback">
                   Title is required
                  </div>
        
            </div>
    
            <div  class="mb-4">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" id="description" placeholder="enter description" class="form-control"  required></textarea>
                <div class="valid-feedback">
                   Please enter short description
                  </div>
                  <div class="invalid-feedback">
                    Please enter a message in the textarea.
                  </div>
            </div>
       
            <!-- <div  class="mb-4">
                <label for="image" class="form-label">Image</label>
                <input type="text" name="listing[image]" id="image" placeholder="enter image URL/link" class="form-control" >
               
            </div> -->
            <div  class="mb-4">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input type="file" name="listing[image]" id="image" class="form-control"  required>
               
            </div>
       
            <div class="row">
                <div  class="mb-4 col-md-4 ">
                    <label for="enter-price" class="form-label">Price</label>
                    <input  name="listing[price]" id="enter-price" class="form-control" placeholder="enter price" required>
                    <div class="invalid-feedback">
                        price should be valid
                      </div>
                </div>
            
                    <div  class="mb-4 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" id="location" placeholder="enter location" class="form-control"required>
                        <div class="invalid-feedback">
                            location should be valid
                          </div>
                    </div>

            </div>
      
            <div  class="mb-4">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" id="country" placeholder="enter country" class="form-control" required>
                <div class="invalid-feedback">
                  country should be valid
                  </div>
            </div>
        
        <button class="btn btn-dark add-btn">Add</button>
        <br>
        <br>
    </form>
    </div>
</div>

</body>
    